In [1]:
import pandas as pd
import numpy as np

In [2]:
stain_status = pd.read_csv('barcodes_from_figshare.tsv', sep='\t')
stain_status.head()

    barcode stain_status
0  00000140      stained
1  00000162      stained
2  00000185      stained
3  00000209      stained
4  00000231      stained

In [3]:
barcode_list = stain_status['barcode'].tolist()
len(barcode_list)

15553

In [4]:
from dask.distributed import Client
import dask.bag as db
import json
import s3fs
from PIL import Image

In [5]:
client = Client(n_workers=8, threads_per_worker=4)
client

In [6]:
fs = s3fs.S3FileSystem(anon=True)
fs.ls('smithsonian-open-access')

['smithsonian-open-access/media', 'smithsonian-open-access/metadata']

In [7]:
metadata = fs.ls('smithsonian-open-access/metadata/edan/')
metadata

['smithsonian-open-access/metadata/edan/aaa',
 'smithsonian-open-access/metadata/edan/acah',
 'smithsonian-open-access/metadata/edan/acm',
 'smithsonian-open-access/metadata/edan/cfchfolklife',
 'smithsonian-open-access/metadata/edan/chndm',
 'smithsonian-open-access/metadata/edan/eepa',
 'smithsonian-open-access/metadata/edan/fbr',
 'smithsonian-open-access/metadata/edan/fs',
 'smithsonian-open-access/metadata/edan/fsa',
 'smithsonian-open-access/metadata/edan/fsg',
 'smithsonian-open-access/metadata/edan/hac',
 'smithsonian-open-access/metadata/edan/hmsg',
 'smithsonian-open-access/metadata/edan/hsfa',
 'smithsonian-open-access/metadata/edan/naa',
 'smithsonian-open-access/metadata/edan/nasm',
 'smithsonian-open-access/metadata/edan/nmaahc',
 'smithsonian-open-access/metadata/edan/nmafa',
 'smithsonian-open-access/metadata/edan/nmah',
 'smithsonian-open-access/metadata/edan/nmai',
 'smithsonian-open-access/metadata/edan/nmnhanthro',
 'smithsonian-open-access/metadata/edan/nmnhbirds',
 'smithsonian-open-access/metadata/edan/nmnhbotany',
 'smithsonian-open-access/metadata/edan/nmnheducation',
 'smithsonian-open-access/metadata/edan/nmnhento',
 'smithsonian-open-access/metadata/edan/nmnhfishes',
 'smithsonian-open-access/metadata/edan/nmnhherps',
 'smithsonian-open-access/metadata/edan/nmnhinv',
 'smithsonian-open-access/metadata/edan/nmnhmammals',
 'smithsonian-open-access/metadata/edan/nmnhminsci',
 'smithsonian-open-access/metadata/edan/nmnhpaleo',
 'smithsonian-open-access/metadata/edan/npg',
 'smithsonian-open-access/metadata/edan/npm',
 'smithsonian-open-access/metadata/edan/nzp',
 'smithsonian-open-access/metadata/edan/saam',
 'smithsonian-open-access/metadata/edan/si',
 'smithsonian-open-access/metadata/edan/sia',
 'smithsonian-open-access/metadata/edan/sil']

In [8]:
b = db.read_text('s3://smithsonian-open-access/metadata/edan/nmnhbotany/*.txt',
                storage_options={'anon': True}).map(json.loads)

In [9]:
botany_example = b.take(1000)
print(json.dumps(botany_example[229], indent=2))

{
  "id": "edanmdm-nmnhbotany_14961062",
  "version": "",
  "unitCode": "NMNHBOTANY",
  "linkedId": "0",
  "type": "edanmdm",
  "content": {
    "descriptiveNonRepeating": {
      "record_ID": "nmnhbotany_14961062",
      "online_media": {
        "mediaCount": 1,
        "media": [
          {
            "thumbnail": "https://ids.si.edu/ids/deliveryService/id/ark:/65665/m3f5411afef94248bca902ff5e4ed900f8/90",
            "idsId": "ark:/65665/m3f5411afef94248bca902ff5e4ed900f8",
            "usage": {
              "access": "CC0"
            },
            "guid": "http://n2t.net/ark:/65665/m3f5411afe-f942-48bc-a902-ff5e4ed900f8",
            "type": "Images",
            "content": "https://ids.si.edu/ids/deliveryService/id/ark:/65665/m3f5411afef94248bca902ff5e4ed900f8",
            "resources": [
              {
                "label": "High-resolution JPEG (6745x6745)",
                "url": "https://ids.si.edu/ids/download?id=NMNH-03420627.jpg"
              },
              {
                "label": "Screen Image",
                "url": "https://ids.si.edu/ids/download?id=NMNH-03420627_screen"
              },
              {
                "label": "Thumbnail Image",
                "url": "https://ids.si.edu/ids/download?id=NMNH-03420627_thumb"
              }
            ]
          }
        ]
      },
      "guid": "http://n2t.net/ark:/65665/347403af0-44c6-45a1-b78c-a7bee16b75a7",
      "title_sort": "SALIX GEYERIANA VAR MELEINA JK HENRY",
      "unit_code": "NMNHBOTANY",
      "record_link": "http://n2t.net/ark:/65665/347403af0-44c6-45a1-b78c-a7bee16b75a7",
      "title": {
        "label": "title",
        "content": "Salix geyeriana var. meleina J.K. Henry"
      },
      "metadata_usage": {
        "access": "CC0"
      },
      "data_source": "NMNH - Botany Dept."
    },
    "indexedStructured": {
      "date": [
        "1890s"
      ],
      "tax_family": [
        "Salicaceae"
      ],
      "geoLocation": [
        {
          "L1": {
            "type": "Continent",
            "content": "North America"
          },
          "L2": {
            "type": "Country",
            "content": "United States"
          },
          "L3": {
            "type": "State",
            "content": "Oregon"
          },
          "Other": {
            "type": "Locality",
            "content": "Box Canyon, Lane Co."
          }
        }
      ],
      "tax_class": [
        "Dicotyledonae"
      ],
      "tax_order": [
        "Salicales"
      ],
      "name": [
        "Coville, F. V.",
        "Applegate, E. I."
      ],
      "tax_kingdom": [
        "Plantae"
      ],
      "topic": [
        "Dicotyledonae"
      ],
      "scientific_name": [
        "Salix geyeriana var. meleina J.K. Henry"
      ],
      "place": [
        "Oregon",
        "United States",
        "North America"
      ],
      "online_media_type": [
        "Images"
      ]
    },
    "freetext": {
      "date": [
        {
          "label": "Collection Date",
          "content": "6 Aug 1898"
        }
      ],
      "setName": [
        {
          "label": "See more items in",
          "content": "Botany"
        },
        {
          "label": "See more items in",
          "content": "Flowering plants and ferns"
        }
      ],
      "identifier": [
        {
          "label": "Barcode",
          "content": "03420627"
        },
        {
          "label": "USNM Number",
          "content": "381076"
        }
      ],
      "notes": [
        {
          "label": "Record Last Modified",
          "content": "16 Aug 2019"
        },
        {
          "label": "Specimen Count",
          "content": "1"
        }
      ],
      "name": [
        {
          "label": "Biogeographical Region",
          "content": "73 - Northwestern U.S.A."
        },
        {
          "label": "Collector",
          "content": "Frederick V. Coville"
        },
        {
          "label": "Collector",
          "content": "Elmer I. Applegate"
        },
        {
          "label": "Min. Elevation",
          "content": "1158"
        }
      ],
      "publisher": [
        {
          "label": "Published Name",
          "content": "Salix geyeriana var. meleina J.K. Henry"
        }
      ],
      "place": [
        {
          "label": "Place",
          "content": "Box Canyon, Lane Co., Oregon, United States, North America"
        }
      ],
      "dataSource": [
        {
          "label": "Data Source",
          "content": "NMNH - Botany Dept."
        }
      ],
      "taxonomicName": [
        {
          "label": "Taxonomy",
          "content": "Plantae Dicotyledonae Salicales Salicaceae"
        }
      ]
    }
  },
  "url": "edanmdm:nmnhbotany_14961062",
  "hash": "0089810546981e745fb894f0800d47bba8ff702e",
  "docSignature": "8886bb5798a442e53f0c44e9c350f282d1a890b3_b1f7bff2bf989c5b09758cffa795d246",
  "timestamp": 1581936300,
  "lastTimeUpdated": 1581936248,
  "title": "Salix geyeriana var. meleina J.K. Henry"
}

In [10]:
def extract_ids(record):
    """Take a single NMNH Botany metadata record, and pulls out ids

    Parameters
    ----------
    record : dict
        A single NMNH Botany metadata record in highly-nested dictionary format.

    Returns
    -------
    flattened_record: dict
        An un-nested dictionary that only contains the record id, unit code,
        object title, media_count, media_id, topic list, object type, and
        object medium.
    """
    flattened_record = dict()
    flattened_record['edan_id'] = record['id']
    flattened_record['title'] = record['title']
    
    flattened_record['Barcode'] = np.nan
    
    flattened_record['specimen_guid'] = record['content'].get('descriptiveNonRepeating', {}).get('guid',np.nan)
    
    media_count = record['content'].get('descriptiveNonRepeating', {}).get('online_media',{}).get('mediaCount',np.nan)
    flattened_record['media_count'] = float(media_count)
    media = record['content'].get('descriptiveNonRepeating', {}).get('online_media',{}).get('media',[])   
    if len(media):
        flattened_record['media_guid'] = media[0]['guid']
        if 'resources' in media[0]:
            for media_record in media[0]['resources']:
                if 'JPEG' in media_record['label']:
                    flattened_record['ids_id'] = media_record['url'].split('=')[1].split('.')[0]
    if 'freetext' in record['content']:
        if 'identifier' in record['content']['freetext']:
            for identifier in record['content']['freetext']['identifier']:
                id_type = identifier['label']
                id_number = identifier['content']
                flattened_record[id_type] = id_number
          
    return flattened_record

In [11]:
just_barcodes = (b.filter(lambda record: extract_ids(record)['Barcode'] in barcode_list)
                  .map(extract_ids)
                  .compute())
barcode_df = pd.DataFrame(just_barcodes)
barcode_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15627 entries, 0 to 15626
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   edan_id        15627 non-null  object
 1   title          15627 non-null  object
 2   Barcode        15627 non-null  object
 3   specimen_guid  15627 non-null  object
 4   media_count    14061 non-null  float64
 5   media_guid     14061 non-null  object
 6   ids_id         14038 non-null  object
 7   USNM Number    15580 non-null  object
 8   Other Numbers  8328 non-null   object
dtypes: float64(1), object(8)
memory usage: 1.1+ MB

In [12]:
barcode_df.head()

,edan_id,title,Barcode,specimen_guid,media_count,media_guid,ids_id,USNM Number,Other Numbers
0,edanmdm-nmnhbotany_2095387,Ageratum elachycarpum B.L. Rob.,00512770,http://n2t.net/ark:/65665/3d361b9b9-91d0-4a3d-...,1.0,http://n2t.net/ark:/65665/m3890da9ed-3b6d-40da...,NMNH-00512770,1404283,NaN
1,edanmdm-nmnhbotany_2135634,Horsfieldia bartlettii Merr.,00513412,http://n2t.net/ark:/65665/319872980-bd6d-409a-...,1.0,http://n2t.net/ark:/65665/m374b20557-3460-4d9d...,NMNH-00513412-000001,2275439,NaN
2,edanmdm-nmnhbotany_2102106,Hypericum crenulatum var. major Boiss.,00588520,http://n2t.net/ark:/65665/353447a40-80df-4892-...,1.0,http://n2t.net/ark:/65665/m3566c5f4e-c485-4c1b...,NMNH-00588520,129657,NaN
3,edanmdm-nmnhbotany_2167183,Asclepias brachystephana Engelm. ex Torr. in E...,00588654,http://n2t.net/ark:/65665/3cd0feeeb-abcd-415c-...,1.0,http://n2t.net/ark:/65665/m3330aaa7b-0613-4374...,NMNH-00588654-000001,18691,NaN
4,edanmdm-nmnhbotany_2683657,Waltheria indica L.,00595768,http://n2t.net/ark:/65665/3cbca3c96-e7ec-4eff-...,2.0,http://n2t.net/ark:/65665/m328e137c2-1b2e-4768...,NMNH-00595768,13147,NaN

In [13]:
barcode_df[barcode_df.duplicated(subset='Barcode', keep=False)].sort_values('Barcode').head()

,edan_id,title,Barcode,specimen_guid,media_count,media_guid,ids_id,USNM Number,Other Numbers
12055,edanmdm-nmnhbotany_2140155,Acacia emoryana Benth.,00000209,http://n2t.net/ark:/65665/350435d2c-8228-4f1c-...,1.0,http://n2t.net/ark:/65665/m3325dc959-7428-4973...,NMNH-00000209-000001,1242171,fiche number : 0364/C04
10874,edanmdm-nmnhbotany_2112595,Acacia emoryana Benth.,00000209,http://n2t.net/ark:/65665/3ce233bf5-d0e1-4967-...,1.0,http://n2t.net/ark:/65665/m3325dc959-7428-4973...,NMNH-00000209-000001,1242172,NaN
6241,edanmdm-nmnhbotany_10085590,Rhynchosia pringlei Rose,00004828,http://n2t.net/ark:/65665/318376e79-5027-4111-...,1.0,http://n2t.net/ark:/65665/m3e433107f-ca89-4bd7...,NMNH-00004828-000001,235115,NaN
4787,edanmdm-nmnhbotany_10078069,Rhynchosia pringlei Rose,00004828,http://n2t.net/ark:/65665/34e44b875-4b53-4988-...,1.0,http://n2t.net/ark:/65665/m3e433107f-ca89-4bd7...,NMNH-00004828-000001,235115,fiche number : 0431/E10
1575,edanmdm-nmnhbotany_2789572,Psychotria robynsiana Petit var. robynsiana,00008112,http://n2t.net/ark:/65665/379a2f0aa-9747-4c72-...,1.0,http://n2t.net/ark:/65665/m37632c5c8-0120-45a8...,NMNH-00008112-000001,2155406,"""ORNumber"" : 000024"

In [14]:
unique_barcodes = barcode_df.drop_duplicates(subset=['Barcode'], keep=False)
unique_barcodes.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15478 entries, 0 to 15626
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   edan_id        15478 non-null  object
 1   title          15478 non-null  object
 2   Barcode        15478 non-null  object
 3   specimen_guid  15478 non-null  object
 4   media_count    13945 non-null  float64
 5   media_guid     13945 non-null  object
 6   ids_id         13922 non-null  object
 7   USNM Number    15431 non-null  object
 8   Other Numbers  8280 non-null   object
dtypes: float64(1), object(8)
memory usage: 1.2+ MB

In [15]:
unique_barcodes['media_count'].value_counts()

1.0    11515
2.0     2427
3.0        2
7.0        1
Name: media_count, dtype: int64

In [16]:
unique_barcodes[unique_barcodes['media_count'] > 2].head().to_dict(orient='records')

[{'edan_id': 'edanmdm-nmnhbotany_2105891',
  'title': 'Waltheria pyrolaefolia A. Gray in Wilkes',
  'Barcode': '00479031',
  'specimen_guid': 'http://n2t.net/ark:/65665/341db4b64-d0b0-45d9-acde-786efe91bb34',
  'media_count': 3.0,
  'media_guid': 'http://n2t.net/ark:/65665/m3dc38e176-4dd2-4b2d-a4be-d218ae9b7e6d',
  'ids_id': 'NMNH-00479031-000001',
  'USNM Number': '13159',
  'Other Numbers': 'fiche number : 0542/E04'},
 {'edan_id': 'edanmdm-nmnhbotany_2157357',
  'title': 'Potamogeton marinus var. occidentalis B.L. Rob. in C. King',
  'Barcode': '00086668',
  'specimen_guid': 'http://n2t.net/ark:/65665/3158acf90-ae33-4e1d-abd0-c6e3d9d4e91e',
  'media_count': 7.0,
  'media_guid': 'http://n2t.net/ark:/65665/m3da5d5478-eb8e-4ef3-a2f2-25572f6a0c3a',
  'ids_id': 'NMNH-00086668-000001',
  'USNM Number': '46896',
  'Other Numbers': 'fiche number : 0074/B05'},
 {'edan_id': 'edanmdm-nmnhbotany_10058390',
  'title': 'Sedum spathulifolium Hook.',
  'Barcode': '00898520',
  'specimen_guid': 'http://n2t.net/ark:/65665/3f0219918-394d-4bd6-a131-e8d8e1e0349b',
  'media_count': 3.0,
  'media_guid': 'http://n2t.net/ark:/65665/m31b4f5229-d353-4517-8fc2-0d68974f2da7',
  'ids_id': 'NMNH-00898520',
  'USNM Number': '94927',
  'Other Numbers': nan}]

In [20]:
unique_single = unique_barcodes[unique_barcodes['media_count'] == 1].copy()
unique_single = unique_single.rename(columns={'Barcode':'barcode'})
unique_single.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11515 entries, 0 to 15626
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   edan_id        11515 non-null  object
 1   title          11515 non-null  object
 2   barcode        11515 non-null  object
 3   specimen_guid  11515 non-null  object
 4   media_count    11515 non-null  float64
 5   media_guid     11515 non-null  object
 6   ids_id         11498 non-null  object
 7   USNM Number    11469 non-null  object
 8   Other Numbers  7565 non-null   object
dtypes: float64(1), object(8)
memory usage: 899.6+ KB

In [21]:
merged = unique_single.merge(stain_status, on='barcode')
merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11515 entries, 0 to 11514
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   edan_id        11515 non-null  object
 1   title          11515 non-null  object
 2   barcode        11515 non-null  object
 3   specimen_guid  11515 non-null  object
 4   media_count    11515 non-null  float64
 5   media_guid     11515 non-null  object
 6   ids_id         11498 non-null  object
 7   USNM Number    11469 non-null  object
 8   Other Numbers  7565 non-null   object
 9   stain_status   11515 non-null  object
dtypes: float64(1), object(9)
memory usage: 989.6+ KB

In [22]:
merged['stain_status'].value_counts()

unstained    6890
stained      4625
Name: stain_status, dtype: int64

In [23]:
merged.to_csv('mercury_list_from_s3.tsv', sep='\t', index=False)

In [25]:
specimen_df_sample = pd.read_csv('nmnh_occurrence_1_35.tsv.gz',
                                 nrows=1000,
                            sep='\t', compression='gzip')
specimen_df_sample.sample(5).to_dict(orient='records')

[{'id': 'http://n2t.net/ark:/65665/300004966-f89f-4f65-9d09-93c9f34b355b',
  'type': 'PhysicalObject',
  'references': nan,
  'institutionID': 'http://biocol.org/urn:lsid:biocol.org:col:34871',
  'institutionCode': 'US',
  'collectionCode': 'Botany',
  'datasetName': 'NMNH Extant Biology',
  'basisOfRecord': 'PreservedSpecimen',
  'occurrenceID': 'http://n2t.net/ark:/65665/300004966-f89f-4f65-9d09-93c9f34b355b',
  'catalogNumber': '3614881',
  'occurrenceRemarks': nan,
  'recordNumber': '14',
  'recordedBy': 'J. Macoun',
  'individualCount': 1,
  'sex': nan,
  'lifeStage': nan,
  'preparations': nan,
  'otherCatalogNumbers': nan,
  'associatedMedia': '12009231',
  'associatedSequences': nan,
  'associatedOccurrences': nan,
  'startDayOfYear': 224.0,
  'endDayOfYear': 224.0,
  'year': 1890.0,
  'month': 8.0,
  'day': 12.0,
  'verbatimEventDate': nan,
  'habitat': nan,
  'fieldNumber': nan,
  'fieldNotes': nan,
  'locationID': nan,
  'higherGeography': 'North America, Canada',
  'continent': 'North America',
  'waterBody': nan,
  'islandGroup': nan,
  'island': nan,
  'country': 'Canada',
  'stateProvince': nan,
  'county': nan,
  'locality': 'Mts. at Kicking Hare Lake, Rocky Mts.',
  'verbatimElevation': nan,
  'minimumElevationInMeters': 2286.0,
  'maximumElevationInMeters': nan,
  'verbatimDepth': nan,
  'minimumDepthInMeters': nan,
  'maximumDepthInMeters': nan,
  'verbatimLatitude': nan,
  'verbatimLongitude': nan,
  'verbatimCoordinateSystem': nan,
  'decimalLatitude': nan,
  'decimalLongitude': nan,
  'geodeticDatum': nan,
  'coordinateUncertaintyInMeters': nan,
  'georeferenceProtocol': nan,
  'georeferenceRemarks': nan,
  'identifiedBy': nan,
  'identificationQualifier': nan,
  'typeStatus': nan,
  'scientificName': 'Carex maritima',
  'higherClassification': 'Plantae, Monocotyledonae, Cyperales, Cyperaceae',
  'kingdom': 'Plantae',
  'phylum': nan,
  'class': 'Monocotyledonae',
  'order': 'Cyperales',
  'family': 'Cyperaceae',
  'genus': 'Carex',
  'subgenus': nan,
  'specificEpithet': 'maritima',
  'infraspecificEpithet': nan,
  'taxonRank': nan,
  'scientificNameAuthorship': 'Gunnerus'},
 {'id': 'http://n2t.net/ark:/65665/30004bce6-148c-4462-a135-e1ff253b27f7',
  'type': 'PhysicalObject',
  'references': nan,
  'institutionID': 'http://biocol.org/urn:lsid:biocol.org:col:34871',
  'institutionCode': 'US',
  'collectionCode': 'Botany',
  'datasetName': 'NMNH Extant Biology',
  'basisOfRecord': 'PreservedSpecimen',
  'occurrenceID': 'http://n2t.net/ark:/65665/30004bce6-148c-4462-a135-e1ff253b27f7',
  'catalogNumber': nan,
  'occurrenceRemarks': nan,
  'recordNumber': nan,
  'recordedBy': nan,
  'individualCount': 1,
  'sex': nan,
  'lifeStage': nan,
  'preparations': nan,
  'otherCatalogNumbers': nan,
  'associatedMedia': '14153721',
  'associatedSequences': nan,
  'associatedOccurrences': nan,
  'startDayOfYear': nan,
  'endDayOfYear': nan,
  'year': nan,
  'month': nan,
  'day': nan,
  'verbatimEventDate': nan,
  'habitat': nan,
  'fieldNumber': nan,
  'fieldNotes': nan,
  'locationID': nan,
  'higherGeography': nan,
  'continent': nan,
  'waterBody': nan,
  'islandGroup': nan,
  'island': nan,
  'country': nan,
  'stateProvince': nan,
  'county': nan,
  'locality': nan,
  'verbatimElevation': nan,
  'minimumElevationInMeters': nan,
  'maximumElevationInMeters': nan,
  'verbatimDepth': nan,
  'minimumDepthInMeters': nan,
  'maximumDepthInMeters': nan,
  'verbatimLatitude': nan,
  'verbatimLongitude': nan,
  'verbatimCoordinateSystem': nan,
  'decimalLatitude': nan,
  'decimalLongitude': nan,
  'geodeticDatum': nan,
  'coordinateUncertaintyInMeters': nan,
  'georeferenceProtocol': nan,
  'georeferenceRemarks': nan,
  'identifiedBy': nan,
  'identificationQualifier': nan,
  'typeStatus': nan,
  'scientificName': nan,
  'higherClassification': nan,
  'kingdom': nan,
  'phylum': nan,
  'class': nan,
  'order': nan,
  'family': nan,
  'genus': nan,
  'subgenus': nan,
  'specificEpithet': nan,
  'infraspecificEpithet': nan,
  'taxonRank': nan,
  'scientificNameAuthorship': nan},
 {'id': 'http://n2t.net/ark:/65665/300044f59-54f8-4bcd-8176-7aa0b618dad6',
  'type': 'PhysicalObject',
  'references': nan,
  'institutionID': 'http://biocol.org/urn:lsid:biocol.org:col:34871',
  'institutionCode': 'US',
  'collectionCode': 'Botany',
  'datasetName': 'NMNH Extant Biology',
  'basisOfRecord': 'PreservedSpecimen',
  'occurrenceID': 'http://n2t.net/ark:/65665/300044f59-54f8-4bcd-8176-7aa0b618dad6',
  'catalogNumber': '1033259',
  'occurrenceRemarks': nan,
  'recordNumber': '17406',
  'recordedBy': 'Bro. G. Ars√®ne & Bro. Benedict',
  'individualCount': 1,
  'sex': nan,
  'lifeStage': 'Flowering',
  'preparations': nan,
  'otherCatalogNumbers': nan,
  'associatedMedia': nan,
  'associatedSequences': nan,
  'associatedOccurrences': nan,
  'startDayOfYear': 239.0,
  'endDayOfYear': 239.0,
  'year': 1926.0,
  'month': 8.0,
  'day': 27.0,
  'verbatimEventDate': '27 Aug 1926',
  'habitat': nan,
  'fieldNumber': nan,
  'fieldNotes': nan,
  'locationID': nan,
  'higherGeography': 'North America, United States, New Mexico, Mora',
  'continent': 'North America',
  'waterBody': nan,
  'islandGroup': nan,
  'island': nan,
  'country': 'United States',
  'stateProvince': 'New Mexico',
  'county': 'Mora',
  'locality': 'Watrous',
  'verbatimElevation': nan,
  'minimumElevationInMeters': 1950.0,
  'maximumElevationInMeters': 1950.0,
  'verbatimDepth': nan,
  'minimumDepthInMeters': nan,
  'maximumDepthInMeters': nan,
  'verbatimLatitude': nan,
  'verbatimLongitude': nan,
  'verbatimCoordinateSystem': nan,
  'decimalLatitude': nan,
  'decimalLongitude': nan,
  'geodeticDatum': nan,
  'coordinateUncertaintyInMeters': nan,
  'georeferenceProtocol': nan,
  'georeferenceRemarks': nan,
  'identifiedBy': nan,
  'identificationQualifier': nan,
  'typeStatus': nan,
  'scientificName': 'Commelina dianthifolia',
  'higherClassification': 'Plantae, Monocotyledonae, Commelinales, Commelinaceae',
  'kingdom': 'Plantae',
  'phylum': nan,
  'class': 'Monocotyledonae',
  'order': 'Commelinales',
  'family': 'Commelinaceae',
  'genus': 'Commelina',
  'subgenus': nan,
  'specificEpithet': 'dianthifolia',
  'infraspecificEpithet': nan,
  'taxonRank': nan,
  'scientificNameAuthorship': 'Delile'},
 {'id': 'http://n2t.net/ark:/65665/3000217d6-7c76-4696-8715-746d52685854',
  'type': 'PhysicalObject',
  'references': nan,
  'institutionID': 'http://biocol.org/urn:lsid:biocol.org:col:34871',
  'institutionCode': 'USNM',
  'collectionCode': 'Invertebrate Zoology',
  'datasetName': 'NMNH Extant Biology',
  'basisOfRecord': 'PreservedSpecimen',
  'occurrenceID': 'http://n2t.net/ark:/65665/3000217d6-7c76-4696-8715-746d52685854',
  'catalogNumber': '1181261',
  'occurrenceRemarks': nan,
  'recordNumber': nan,
  'recordedBy': 'R. Harry',
  'individualCount': 1,
  'sex': 'female',
  'lifeStage': nan,
  'preparations': 'Alcohol (Ethanol)',
  'otherCatalogNumbers': nan,
  'associatedMedia': nan,
  'associatedSequences': nan,
  'associatedOccurrences': nan,
  'startDayOfYear': 276.0,
  'endDayOfYear': 276.0,
  'year': 1953.0,
  'month': 10.0,
  'day': 3.0,
  'verbatimEventDate': '3 Oct 1953',
  'habitat': nan,
  'fieldNumber': nan,
  'fieldNotes': nan,
  'locationID': '98-D-2',
  'higherGeography': 'North Pacific Ocean, Micronesia, Yap',
  'continent': nan,
  'waterBody': 'North Pacific Ocean',
  'islandGroup': nan,
  'island': nan,
  'country': 'Micronesia',
  'stateProvince': 'Yap',
  'county': nan,
  'locality': 'Caroline Islands, Ifalik Atoll, approximately 1400 feet south of the northwest tip of Falarik Island, patch reef on lagoon bottom',
  'verbatimElevation': nan,
  'minimumElevationInMeters': nan,
  'maximumElevationInMeters': nan,
  'verbatimDepth': 'intertidal',
  'minimumDepthInMeters': nan,
  'maximumDepthInMeters': nan,
  'verbatimLatitude': nan,
  'verbatimLongitude': nan,
  'verbatimCoordinateSystem': nan,
  'decimalLatitude': nan,
  'decimalLongitude': nan,
  'geodeticDatum': nan,
  'coordinateUncertaintyInMeters': nan,
  'georeferenceProtocol': nan,
  'georeferenceRemarks': nan,
  'identifiedBy': 'Lasley, Robert, National University of Singapore (SINGAPORE)',
  'identificationQualifier': nan,
  'typeStatus': nan,
  'scientificName': 'Chlorodiella corallicola',
  'higherClassification': 'Animalia, Arthropoda, Crustacea, Malacostraca, Eumalacostraca, Eucarida, Decapoda, Pleocyemata, Xanthidae',
  'kingdom': 'Animalia',
  'phylum': 'Arthropoda',
  'class': 'Malacostraca',
  'order': 'Decapoda',
  'family': 'Xanthidae',
  'genus': 'Chlorodiella',
  'subgenus': nan,
  'specificEpithet': 'corallicola',
  'infraspecificEpithet': nan,
  'taxonRank': nan,
  'scientificNameAuthorship': 'Miyake & Takeda'},
 {'id': 'http://n2t.net/ark:/65665/300062769-17fc-4e53-b3e4-4b576d23fd36',
  'type': 'PhysicalObject',
  'references': nan,
  'institutionID': 'http://biocol.org/urn:lsid:biocol.org:col:34871',
  'institutionCode': 'US',
  'collectionCode': 'Botany',
  'datasetName': 'NMNH Extant Biology',
  'basisOfRecord': 'PreservedSpecimen',
  'occurrenceID': 'http://n2t.net/ark:/65665/300062769-17fc-4e53-b3e4-4b576d23fd36',
  'catalogNumber': '1056300',
  'occurrenceRemarks': nan,
  'recordNumber': '17139',
  'recordedBy': 'A. S. Hitchcock',
  'individualCount': 1,
  'sex': nan,
  'lifeStage': nan,
  'preparations': nan,
  'otherCatalogNumbers': nan,
  'associatedMedia': '13220171',
  'associatedSequences': nan,
  'associatedOccurrences': nan,
  'startDayOfYear': 337.0,
  'endDayOfYear': 343.0,
  'year': 1919.0,
  'month': 12.0,
  'day': 3.0,
  'verbatimEventDate': '3-Dec-19 to 9-Dec-19',
  'habitat': 'Near river',
  'fieldNumber': nan,
  'fieldNotes': nan,
  'locationID': nan,
  'higherGeography': 'South America - Neotropics, Guyana, Cuyuni-Mazaruni',
  'continent': 'South America - Neotropics',
  'waterBody': nan,
  'islandGroup': nan,
  'island': nan,
  'country': 'Guyana',
  'stateProvince': 'Cuyuni-Mazaruni',
  'county': nan,
  'locality': 'Penal Settlement, on W side of Essequibo River, near mouth of Mazaruni River',
  'verbatimElevation': nan,
  'minimumElevationInMeters': nan,
  'maximumElevationInMeters': nan,
  'verbatimDepth': nan,
  'minimumDepthInMeters': nan,
  'maximumDepthInMeters': nan,
  'verbatimLatitude': nan,
  'verbatimLongitude': nan,
  'verbatimCoordinateSystem': nan,
  'decimalLatitude': 6.4,
  'decimalLongitude': -58.65,
  'geodeticDatum': nan,
  'coordinateUncertaintyInMeters': nan,
  'georeferenceProtocol': nan,
  'georeferenceRemarks': nan,
  'identifiedBy': nan,
  'identificationQualifier': nan,
  'typeStatus': nan,
  'scientificName': 'Myrcia subobliqua',
  'higherClassification': 'Plantae, Dicotyledonae, Myrtales, Myrtaceae',
  'kingdom': 'Plantae',
  'phylum': nan,
  'class': 'Dicotyledonae',
  'order': 'Myrtales',
  'family': 'Myrtaceae',
  'genus': 'Myrcia',
  'subgenus': nan,
  'specificEpithet': 'subobliqua',
  'infraspecificEpithet': nan,
  'taxonRank': nan,
  'scientificNameAuthorship': '(Benth.) Neidenzu'}]